* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav {
    background-color: yellow;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.top-nav h1 {
    font-size: 40px;
    background-color: pink;
}

.top-nav nav {
    background-color: aqua;
}